In [3]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [4]:
model=load_model('model.h5')

with open('geo_encoder.pkl','rb') as file:
    onehot=pickle.load(file)

with open('label_encode_gender.pkl','rb') as file:
    lable_encoder=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:tensorflow:From c:\Users\pc\Desktop\udemy\ann project\rnvenv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [49]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [50]:
df=pd.DataFrame(onehot.transform([[input_data['Geography']]]).toarray(),columns=onehot.get_feature_names_out(['Geography']))
df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [51]:
input_df=pd.DataFrame([input_data])

In [ ]:
input_df['Gender']=lable_encoder.transform(input_df['Gender'])

In [53]:
input_df=pd.concat([input_df.drop("Geography",axis=1),df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [56]:
scaleinput=scaler.transform(input_df)
scaleinput

array([[-0.47154541,  0.90911166,  0.09477172, -0.69844549, -0.29010416,
         0.80510537,  0.63367318,  0.95214374, -0.84805047,  0.98019606,
        -0.57581067, -0.56349184]])

In [59]:
model.predict(input_df)

1/1 [==============================] - 0s 19ms/step

array([[1.]], dtype=float32)